<div class="wallboard-unit job {{size}} {{lastBuild.result|buildStable}}">

    <div class="row">

        <div class="col-md-3 job-status">
            <div class="{{jobHealth|buildHealth}} largeWeather" ng-show="lastSuccessfulBuild"></div>
            <div class="fail largeWeather" ng-hide="lastSuccessfulBuild"></div>
        </div>

        <div class="col-md-9 job-info">
            <div class="wallboard-unit-job-title">
                <h3>{{name}}</h3>
            </div>
            <div ng-show="lastBuildTestReport.failCount > 0" class="wallboard-unit-job-tests">Failed
                tests: {{lastBuildTestReport.failCount}}</div>
            <div ng-show="lastBuild">
                Build: <a href="{{lastBuild.url}}" target="_blank">#{{lastBuild.number}}</a><span ng-show="lastBuild"> {{lastBuild.timestamp|timeago}}</span>
            </div>
        </div>

    </div>

    <div class="row" ng-show="lastBuild.building">
        <div class="col-md-12">
            <uib-progressbar max="100" value="lastBuildProgress" class="progress-striped active"></uib-progressbar>
        </div>
    </div>

</div>
