<div class="row-fluid wallboard-row" style="margin-bottom: 10rem;" xmlns="http://www.w3.org/1999/html">
    <div class="span4 wallboard-title">
        <div>
            <h1>VIGO Wallboard</h1>

            <h2 class="subtitle">Termine</h2>
        </div>
    </div>
</div>

<!--<div class="row-fluid wallboard-row" id="wochen-termine">-->
<!--<div ng-repeat="termin in termine | filter:{wholeWeek: true}" class="span12 wallboard-unit termin">-->
<!--<div class="wallboard-termine-title">{{termin.description}}</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row-fluid wallboard-row" id="tages-termine">-->
<!--<div ng-repeat="termin in termine | filter:{wholeWeek: false} | orderBy:'date'" class="span4 offset4 wallboard-unit termin">-->
<!--<div class="wallboard-termine-title">{{termin.description}}</div>-->
<!--</div>-->
<!--</div>-->

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">
            <div class="row-fluid wallboard-termin-block">
                <h3>{{tage.montag.label}}</h3>
                <h4>{{tage.montag.datum | date:'dd.MM.yyyy'}}</h4>

                <div>keine Termine</div>
            </div>
            <div class="row-fluid wallboard-termin-block">
                <h3>{{tage.dienstag.label}}</h3>
                <h4>{{tage.dienstag.datum | date:'dd.MM.yyyy'}}</h4>

                <div>1. AD Build</div>
            </div>
            <div class="row-fluid wallboard-termin-block today">
                <h3>{{tage.mittwoch.label}}</h3>
                <h4>{{tage.mittwoch.datum | date:'dd.MM.yyyy'}}</h4>

                <div>keine Termine</div>
            </div>
            <div class="row-fluid wallboard-termin-block">
                <h3>{{tage.donnerstag.label}}</h3>
                <h4>{{tage.donnerstag.datum | date:'dd.MM.yyyy'}}</h4>

                <div>keine Termine</div>
            </div>
            <div class="row-fluid wallboard-termin-block">
                <h3>{{tage.freitag.label}}</h3>
                <h4>{{tage.freitag.datum | date:'dd.MM.yyyy'}}</h4>

                <div>keine Termine</div>
            </div>
        </div>
        <div class="span4">
            <div class="row-fluid">
                <div class="wallboard-termin-block">
                    <h3>Sonstiges</h3>
                </div>
            </div>
        </div>
    </div>
</div>