<div class="wallboard-unit sonar container-fluid {{trendDir|goodBad}}">

    <div class="row">
        <div class="col-md-8">
            <h2 class="unit-title">{{name}}</h2>
            <div class="totalcount"><a href="{{analyseBuildUrl}}" target="_blank">{{metricResult}}<span class="unit">{{unit|metricUnit}}</a></span></div>
        </div>
        <div class="col-md-4">
            <div class="unit-trend {{trendDir|trendUpDown:reverse}}">{{trendVal|round:2}}{{unit|metricUnit}}</div>
        </div>
    </div>
    <div class="row">
        <div class="wallboard-last-build col-md-12" ng-show="lastBuild.result=='FAILURE'">
            <div class="warning"></div>
            <span>LAST BUILD FAILD! ({{lastBuild.fullDisplayName}})</span>
        </div>
    </div>

</div>
