<div class="wallboard-unit container-fluid sonar {{severities|goodBadIssue}}">

    <div class="row">
        <div class="col-md-3">
            <div class="totalcount"><a href="{{totalLink}}" target="_blank">{{totalIssues}}</a></div>
        </div>
        <div class="col-md-9">
            <span>Unassigned Issues (last {{createdbefore}} days)</span>
            <h2 class="unit-title">{{projectName}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="new-issues-list">
                <li ng-repeat="issue in issues">
                    <span>{{issue.severity | limitTo:2}}&nbsp;-&nbsp;</span><a href="{{issueLink + issue.key}}" target="_blank">{{issue.component}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row issue-overview">
        <div class="col-md-2"></div>
        <div class="col-md-2" ng-repeat="(key,data) in severities">
            <div class="type">{{key | limitTo:2}}</div>
            <div class="count"><a href="{{totalLink(key)}}" target="_blank">{{data|zeroChar}}</a></div>
        </div>
    </div>

</div>
